.cardBackground {
    background-color: #ffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 24rem;
    height: auto;
    
}
.imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%; /* Mengatur lebar agar sesuai dengan kartu */
    height: auto; /* Mempertahankan rasio aspek gambar */
    overflow: hidden; /* Menghindari gambar melampaui batas */
    padding: 1rem; /* Tambahkan jarak dari tepi kartu */
    border: none; /* Hapus border jika tidak diperlukan */
    margin-left: 4rem;
}
.cardBackground:hover {
    box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease-in-out;
  }

